########
# MISC #
########
# Path to the project on the host machine
PROJECT_PATH=
# Path to tls stuff on the host machine
PATH_TO_TLS=
# Ip of the host machine
IP=
# PW for tls key
PW_TLS=
# Name of the network
NETWORK=

###########
# AD/LDAP #
###########
# The url of the ldap/AD server.
LDAP_DIR_CONTEXT_URL=
# The username of the member of AD.
LDAP_DIR_CONTEXT_PRINCIPAL=
# The password for the member of AD.
LDAP_DIR_CONTEXT_PASSWORD=
# The base ou (organizational unit) if we look for users. LDAP_BASE is append to this.
LDAP_USER_BASE=
# The filter if we look for users. Here we search for the mail under the condition that the objectClass is user.
LDAP_USER_FILTER=
# The base ou (organizational unit) if we look for groups. LDAP_BASE is append to this.
LDAP_GROUP_BASE=
# The filter if we look for groups. Here we search for the distinguishedName.
LDAP_GROUP_FILTER=
# The default dc (domain component).
LDAP_BASE=

##########################
# Shared error messages. #
##########################
ERROR_USER_NOT_FOUND_IN_AD="ERROR_USER_NOT_FOUND_IN_AD"
ERROR_USER_NOT_FOUND_IN_DAO="ERROR_USER_NOT_FOUND_IN_DAO" 
ERROR_WRONG_PW="ERROR_WRONG_PW"


###############
# Proxy stuff #
###############
http_proxy=
https_proxy=

#######################
# Test credential etc #
#######################
# Test password
TEST_PW=
# Mail for a test user 
TEST_USER_MAIL=
# Mail for a test admin
TEST_ADMIN_MAIL=
# PW for test user
TEST_USER_PW=
# PW for test admin
TEST_ADMIN_PW=

############
# Frontend #
############
# We want use an optimized build
FRONTEND_TARGET="production_runtime"
# We want to use an fast build
#FRONTEND_TARGET="development_runtime"
# Name of the frontend key file (unencrypted)
FRONTEND_KEY_FILE=
# Name of the frontend crt file 
FRONTEND_CRT_FILE=
# Default start time for series creation
CREATE_SERIES_DEFAULT_STARTTIME=12:00:00
# Default end time for series creation
CREATE_SERIES_DEFAULT_ENDTIME=14:00:00
# Default frequency for series creation
CREATE_SERIES_DEFAULT_FREQUENCY=daily
# Frontend port
FRONTEND_PORT=
# Name of the frontend container
FRONTEND_CONTAINER=

###########
# BACKEND #
###########
# Backend port
BACKEND_PORT=
# Path to the backend log dir on the host machine
BACKEND_LOGS=
# Name of the backend container
BACKEND_CONTAINER=

######
# DB #
######
# Database port
DATABASE_PORT=
# Name of the volume of the db
VOLUME=
# Name of the db container
DATABASE_CONTAINER=
# PW for db
PW_DB=