FRONTEND_TARGET=
#FRONTEND_TARGET=
FRONTEND_KEY_FILE=
FRONTEND_CRT_FILE=
############
# Frontend #
############
CREATE_SERIES_DEFAULT_STARTTIME=
CREATE_SERIES_DEFAULT_ENDTIME=
CREATE_SERIES_DEFAULT_FREQUENCY=

FRONTEND_PORT=

BACKEND_PORT=

DATABASE_PORT=

PROJECT_PATH=

PATH_TO_TLS=

IP=

#PW_TLS=
PW_TLS=

#PW_DB=
PW_DB=

NETWORK=

VOLUME=

#DB_LOGS=

BACKEND_LOGS=

DATABASE_CONTAINER=
BACKEND_CONTAINER=
FRONTEND_CONTAINER=

###############
# Proxy stuff #
###############
http_proxy=
https_proxy=

#######################
# Test credential etc #
#######################
TEST_PW=
TEST_USER_MAIL=
TEST_ADMIN_MAIL=
TEST_USER_PW=
TEST_ADMIN_PW=

###########
# AD/LDAP #
###########
# The url of the ldap/AD server.
LDAP_DIR_CONTEXT_URL=
# The username of the member of AD.
LDAP_DIR_CONTEXT_PRINCIPAL=
# The password for the member of AD.
LDAP_DIR_CONTEXT_PASSWORD=
# The base ou (organizational unit) if we look for users. LDAP_BASE is append to this.
LDAP_USER_BASE=
# The filter if we look for users. Here we search for the mail under the condition that the objectClass is user.
LDAP_USER_FILTER=
# The base ou (organizational unit) if we look for groups. LDAP_BASE is append to this.
LDAP_GROUP_BASE=
# The filter if we look for groups. Here we search for the distinguishedName.
LDAP_GROUP_FILTER=
# The default dc (domain component).
LDAP_BASE=

##########################
# Shared error messages. #
##########################
ERROR_USER_NOT_FOUND_IN_AD=
ERROR_USER_NOT_FOUND_IN_DAO=
ERROR_WRONG_PW=
