HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/maven-metadata-local.xml
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Misc ###
/backend/target
/.vscode
/frontend/node_modules
/.metadata/
*.log
*.tar.xz
sql
.env
scripts/stop_containers.sh
scripts/exec_db.sh
scripts/test.sh
scripts/copy_mytest.sh 
frontend/node_modules
backend/logs_dev_backend/*
backend/.m2/repository/com/desk_sharing/backend/0.0.1-SNAPSHOT/backend-0.0.1-SNAPSHOT.pom
backend/.m2/repository/com/desk_sharing/backend/maven-metadata-local.xml
backend/.m2/repository/com/desk_sharing/backend/0.0.1-SNAPSHOT/_remote.repositories
backend/.m2/repository/com/desk_sharing/backend/0.0.1-SNAPSHOT/backend-0.0.1-SNAPSHOT.jar
backend/.m2/repository/*
backend/.m2/

**/maven-metadata-local.xml
*.jar
backend/.m2/repository/com/desk_sharing/backend/0.0.1-SNAPSHOT/backend-0.0.1-SNAPSHOT.jar
**/_remote.repositories