/backend/target
/.vscode
/frontend/node_modules
/.metadata/
*.log
*.tar.xz
sql
.env
scripts/stop_containers.sh
scripts/exec_db.sh
scripts/test.sh
scripts/copy_mytest.sh 
node_modules
node_modules
backend/logs_dev_backend/*
