HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Misc ###
/backend/target
/.vscode
/frontend/node_modules
/.metadata/
*.log
*.tar.xz
sql
.env
scripts/stop_containers.sh
scripts/exec_db.sh
scripts/test.sh
scripts/copy_mytest.sh 
node_modules
node_modules
backend/logs_dev_backend/*
