/*
https://www.w3schools.com/howto/howto_css_image_overlay_icon.asp
*/

.mycontainer {
  position: relative;
  width: 100%;
  max-width: 800px;
}

/* Make the image to responsive */
.myimage {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.myoverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: red;
}

/* When you mouse over the container, fade in the overlay icon*/
.container:hover .overlay {
  opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.myicon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



/* When you move the mouse over the icon, change color */
.fa-user:hover {
  color: #eee;
}

/* 
https://dev.to/sanchithasr/how-to-overlay-icons-on-top-of-images-with-css-1kb9#:~:text=How%20to%20Overlay%20Icons%20on%20Top%20of%20Images,the%20icons%20accordingly%20using%20the%20other%20CSS%20properties
*/
/*.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  transition: .3s ease;
  background-color: transparent;
  
 }
 .container:hover .overlay {
  opacity: 0.7;
 }
 .container {
  position: relative;
  width: 100%;
  max-width: 400px;
}
 .play-icon {
  color: black;
  font-size: 2rem;
  cursor: pointer;
 }
 
 .like-button {
 color: red;
 font-size: 20px;
 cursor: pointer;
 border-radius: 10rem;
 background-color: transparent;
 border: transparent;
 }
 
 .like-button :hover {
 color: red;
 }

.mybtn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 12px !important;
    height: 12px !important;
}

.floor-content {
    flex-grow: 1;
    overflow-y: auto; 
    border-radius: 10px;
    padding: -10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  */
  /* .image-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  /* .image-wrapper img {
    max-width: 100%;
    max-height: 600px;
    height: auto;
  } */
  
  /* .image-wrapper {
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  .clickable-area {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: green;
    cursor: pointer;
    opacity: 0.7;
  }
  